:root {
  --vs--h3-font-size: 2em;
  --vs-theme--page-ref-call-content: '(p.' target-counter(attr(href url), page) ')';
}

ul {
  margin-block-start: 0.5em;
}



figure[class*="language-"]>figcaption {
  position: absolute;
  right: 0;
  font-size: 80%;
  line-height: 0.9em;
  /* border: #888 1px solid; */
  border: none;
  color: #fff;
  background-color: #1c3177;
  /* border-bottom: none; */
  text-align: left;
  margin: 0 auto 0 0;
  /* border-radius: var(--vs-prism--block-code-border-radius) var(--vs-prism--block-code-border-radius) 0 0; */
  padding: 0.3em 1.5em 0.1em;
  font-family: var(--vs--monospace-font-family);
}

pre[class*="language-"] {
  /* line-height: 1.5em; */
  line-height: 1.2em;
  background-size: 2.4em 2.4em;
  font-size: 0.8em;
}

section:has(h3:not(.image-right, .image-left, .columns-2, .columns-3)):has(> p > img) {
  display: flex;
}

section:has(h3:not(.image-right, .image-left, .columns-2, .columns-3))>p:has(> img) {
  /* imgを囲むp要素にflex-growを適用 */
  flex-grow: 1;
  /* 残りのスペースをすべて占める */
  margin-block: 0.5em;
  /* p要素のデフォルトのマージンをリセット */
  display: flex;
  /* p要素をflexコンテナとしてimgを中央配置するために使用 */
  justify-content: center;
  /* 水平方向の中央揃え (必要であれば) */
  align-items: center;
  /* 垂直方向の中央揃え (必要であれば) */
  overflow: hidden;
  /* 画像がはみ出るのを防ぐ（object-fitと組み合わせる） */
  width: 100%;
  display: flex;
}

@page chapter-cover {
  background-color: #7f97c222;
}